/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.env
/config.yml
/status.yml
/token.yml
/.ruby-version
/vendor/
/lib/com/
/lib/commons-beanutils/
/lib/commons-cli/
/lib/commons-codec/
/lib/commons-collections/
/lib/commons-configuration/
/lib/commons-digester/
/lib/commons-httpclient/
/lib/commons-io/
/lib/commons-lang/
/lib/commons-logging/
/lib/commons-net/
/lib/io/
/lib/javax/
/lib/log4j/
/lib/org/
/lib/xerces/
/lib/xml-apis/
/lib/xmlenc/
